
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

<%if(!businesses) {%>
    <h2>Error - there are no businesses in the database</h2>
<%} else {%>

    
<table class="sortable table table-active table-hover w-75 text-center box-shadow--6dp">
    <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Language</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
          <th scope="col">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>

    <%businesses.forEach(function(business) {%>
        <tr class="table-light">
        <td><%=business.name%></td> 
        <td><%=business.category%></td>
        <td><%=business.description%></td>
        <td><%=business.language%></td>
        <td><%=business.phone%>-</td>
        <td> <a href="http://<%=business.website%>"><%=business.website%></a> </td>
        <%if(business._owner.equals(userId)) {%>
        <td> <div class="icon-div">
                <a href="/business/<%=business._id%>/edit"><i class="fas fa-pencil-alt" ></i></a>
                <a href="/business/<%=business._id%>/delete"><i class="ml-2 fas fa-trash-alt"></i></a>
            </div>
        </td>
        <%} else if(userId === 0){%>
        <td><a href="/login">Login</a></td>
        <%} else {%>
            <td></td>
        <%}%>
        </tr>

    <%})%>
    </tbody>
</table>
<%}%>

