
<head>
        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <link rel="stylesheet" href="../../stylesheets/style.css">
        <script src="../../js/js.js"></script>
</head>
    
      <body>
            <div class="w-50 col-centered ">
              <form action="/business/<%=business._id%>/edit" method="POST">

                <div class="form-group col-centered row">
                    <label class="control-label text-center" for="readOnlyInput">Category:</label>    
                    <select class="custom-select" name="category">
                        <!-- categories auto=population -->
                        <option selected=""><%=business.category%></option>
                        <%categories.forEach(function(category) { %>
                            <option value="<%=category%>"><%=category%></option>
                        <%})%>
                    </select>
                </div>
    
                <div class="form-group col-centered row">
                    <label class="control-label text-center" for="readOnlyInput">Name:</label>    
                    <input type="text" class="form-control" value="<%=business.name%>" id="inputDefault" name="name">
                </div>
    
                <div class="form-group col-centered row">
                        <label class="control-label text-center" for="readOnlyInput">Language:</label>    
                        <select class="custom-select" name="language">
                        <!-- categories auto=population -->
                            <option selected=""><%=business.language%></option>
                        <%languages.forEach(function(language) { %>
                            <option value="<%=language%>"><%=language%></option>
                        <%})%>
                    </select>
                    </div>
    
                <div class="form-group col-centered row">
                        <label class="control-label text-center" for="readOnlyInput">Phone:</label>    
                        <input type="tel" class="form-control" value="<%=business.phone%>" id="phone" name="phone">
                    </div>
    
                <div class="form-group col-centered row">
                        <label class="control-label text-center" for="readOnlyInput">Website:</label>    
                        <input type="string" class="form-control" value="<%=business.website%>" id="website" name="website">
                    </div>
                
                <a id="btn-address" class="btn btn-secondary bg-dark col-12 text-center mb-3" >Address</a>
                <div id="address" class="pt-3">
    
                        <div class="form-group row" id="locationField">
                                <label class="control-label text-center" for="readOnlyInput">Full Address:</label>    
                                <input class="form-control" name="full_address" id="autocomplete" placeholder="Start typing the address" onfocus="geolocate()" type="text"></input>
                        </div>
    
                    <div class="form-group pt-4 row justify-content-between">    
                            <label class="control-label align-self-center ">Street address</label>
                            <input class="form-control col-2" value="<%=business.address.street_num%>" id="street_number" name="street_num"></input>
                            <input class="form-control col-7" value="<%=business.address.street_name%>" id="route" name="street_name"></input>
                    </div>
                    <div class="form-group row">
                        <label class="control-label">City</label>
                        <!-- Note: Selection of address components in this example is typical.
                            You may need to adjust it for the locations relevant to your app. See
                            https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                        -->
                        <input class="form-control text-center" value="<%=business.city%>" id="locality" disabled="true" name="city"></input>
                        
                    </div>
                    <div class="form-group row justify-content-around text-center">
                        <label class="control-label col-3">State</label>
                        <label class="control-label col-3 offset-1 ">Zip code</label>
                        <label class="control-label col-3 offset-1">Country</label>
                    </div>
    
                    <div class="form-group row justify-content-around ">
                        <input class="form-control col-lg-3 text-center" value="<%=business.address.state%>" id="administrative_area_level_1" name=state""></input>
                        <input class="form-control col-lg-3 offset-1 text-center" value="<%=business.address.zip%>" id="postal_code"  name="zip"></input>
                        <input class="form-control field offset-1 col-lg-3 text-center" id="country" disabled="true"></input>
                    </div> 
                </div>   
                
                <a id="btn-hours" class="btn btn-secondary bg-dark col-12 text-center" >Hours of Operations</a>
                   <div id="hours-of-operation" style="display:none" class="pt-3">  
                       <div class="form-inline">
                            <label class="control-label align-self-center col-1">Mon:</label>
                            <input class="form-control text-center col-4" value="<%business.hours.mon.open%>" type="time" name="open"></input>
                            <input class="form-control text-center col-4" value="<%business.hours.mon.close%>" type="time" name="close"></input>
                            <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                    <input type="checkbox" class="custom-control-input" name="isClosed" value="<=%business.hours.mon.isClosed%>" id="customCheck1" >
                                    <label class="custom-control-label" for="customCheck1">Closed</label>
                            </div>
                        </div>
    
                        <div class="form-inline">
                                <label class="control-label align-self-center col-1">Tue:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.tue.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.tue.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%=business.hours.tue.isClosed%>" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Closed</label>
                                </div>
                            </div>
    
                        <div class="form-inline">
                                <label class="control-label align-self-center col-1">Wed:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.wed.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.wed.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%business.hours.wed.isClosed%>" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Closed</label>
                                </div>
                            </div>
                        
                        <div class="form-inline">
                                <label class="control-label align-self-center col-1">Thu:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.thu.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.thu.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%business.hours.thu.isClosed%>" id="customCheck4">
                                        <label class="custom-control-label" for="customCheck4">Closed</label>
                                </div>
                            </div>
    
                    <div class="form-inline">
                                <label class="control-label align-self-center col-1">Fri:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.fri.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.fri.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%business.hours.fri.isClosed%>" id="customCheck5">
                                        <label class="custom-control-label" for="customCheck5">Closed</label>
                                </div>
                            </div>
    
                    <div class="form-inline">
                                <label class="control-label align-self-center col-1">Sat:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.sat.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.sat.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%business.hours.sat.isClosed%>" id="customCheck6">
                                        <label class="custom-control-label" for="customCheck6">Closed</label>
                                </div>
                            </div>
                    <div class="form-inline">
                                <label class="control-label align-self-center col-1">Sun:</label>
                                <input class="form-control text-center col-4" value="<%business.hours.sun.open%>" type="time" ></input>
                                <input class="form-control text-center col-4" value="<%business.hours.sun.close%>" type="time" ></input>
                                <div class="custom-control custom-checkbox justify-content-between col-2 offset-1">
                                        <input type="checkbox" class="custom-control-input" value="<%business.hours.sun.isClosed%>" id="customCheck7">
                                        <label class="custom-control-label" for="customCheck7">Closed</label>
                                </div>
                            </div>
                        
                    </div>
    
                <div class="form-group row pt-3">
                    <label for="exampleTextarea">Business Description</label>
                    <textarea class="form-control" value="<%=business.description%>" name="description" id="exampleTextarea" rows="4"><%=business.description%></textarea>
                </div>
                
                    <div class="row float-right">
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                    <form action="/list">
                        <div class="row float-left">
                            <button type="submit" class="btn btn-outline-secondary">Cancel Changes</button>
                        </div>
                    </form>
                
        </div>
               
               
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_API%>&libraries=places&callback=initAutocomplete"
            async defer></script>
</body>